* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(/Img/Numeros3.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;

}

header {
    width: 100%;
    height: 90px;
    background-color:  #0b132b;
}

.interior {
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}
.navegacion{
    float:right;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}
.navegacion ul{
    list-style: none;
    padding: 0 10px;

}

.navegacion ul li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}

.navegacion ul li:hover{
    transform: scale(1.1);
}
.navegacion ul li a{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}
.navegacion ul li a:hover{
    color: #00c9bd;
    transform: scale(1.1);
}


a:hover {
    color: black;
}

.calculadora {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: beige;
    width: 350px;
    height: 500px;
    border-radius: 25px;
}

.calculadora td button {
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;
}

#resultado {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: white;
    border-radius: 25px;
    overflow-y: scroll;
}

@media (max-width:480px) {
    form {
        width: 100%;
    }
}